# General
NODE_ENV=production
APP_VERSION=1.0.0
PORT=3000

# Database
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=avr-app
DATABASE_USERNAME=avr
DATABASE_PASSWORD=your-database-password-here

DATABASE_ROOT_PASSWORD=your-database-root-password-here

# Container Ports
CORE_PORT_START=5000
ASR_PORT_START=6000
LLM_PORT_START=7000
TTS_PORT_START=8000

# Asterisk Manager Interface
AMI_URL=http://avr-ami:9000

# Asterisk REST Interface
ARI_URL=http://avr-asterisk:8088/ari
ARI_USERNAME=avr
ARI_PASSWORD=avr

# Network
AVR_NETWORK=avr

# Keycloak
KEYCLOAK_AUTH_SERVER_URL=https://auth.agentvoiceresponse.com
KEYCLOAK_REALM=avr
KEYCLOAK_CLIENT_ID=avr-app

# Session Secret
SESSION_SECRET=your-session-secret-here