version: "3.9"
services:
  backend:
    build: ./backend
    container_name: avr-app-backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - JWT_SECRET=
      - CORE_DEFAULT_IMAGE=agentvoiceresponse/avr-core
      - DB_TYPE=sqlite
      - DB_DATABASE=/app/data/data.db
      - FRONTEND_URL=http://localhost:3000
      - ADMIN_USERNAME=${ADMIN_USERNAME:-admin}
      - ADMIN_PASSWORD=
      - WEBHOOK_URL=http://avr-app-backend:3001/webhooks
      - WEBHOOK_SECRET=
      - ASTERISK_CONFIG_PATH=/app/asterisk
      - ARI_URL=http://avr-asterisk:8088/ari
      - ARI_USERNAME=avr
      - ARI_PASSWORD=
      - TENANT=demo
      - TOOLS_DIR=/home/[user]/avr-infra/tools
      - AMI_URL=http://avr-ami:6006
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock

  frontend:
    build: ./frontend
    container_name: avr-app-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://avr-app-backend:3001
      - NEXT_PUBLIC_WEBRTC_CLIENT_URL=http://avr-phone:8080

